spring:
  application:
    name: gestion-clientes-backend
  
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/gestion_clientes}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:anyelin}
    driver-class-name: org.postgresql.Driver
    
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      connection-timeout: 30000
      idle-timeout: 600000
      max-lifetime: 1800000
  
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: true

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

server:
  port: 8080
uploads:
  directory: uploads